// h1{
//     font-size: 20px;
//     text-align: center;
// }
.likepost{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .likePostImg{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
    h2{
        font-size: 20px;
    }
    button{
        border: none;
        border-radius: 30px;
        cursor: pointer;
        padding: 5px 20px;
        background-color: #000;
        width: 50%;
        align-self: center;
        color: #fff;

        &:hover{
            color: #fff;
            background-color: teal;
        }
    }
}