.update{
    height: 300px;
    width: 100%;
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 20px 10px;
        input{
            width: 100%;
            padding: 12px 0px;
            border: none;
            border-bottom: 1px solid #000;
            outline: none;
        }
        label{
            width: fit-content;
            padding: 5px 15px;
            border: none;
            border-radius: 20px;
            box-shadow: 0 0 10px 0 #eee;
            background-color: #000;
            color: #fff;
            font-size: 12px;
            &:hover{
                background-color: teal;
            }
        }
        .modalBtn{
            align-self: center;
            padding: 8px 15px;
            width: 40%;
            border-radius: 30px;
            background-color: teal;
            background-color: #000;
            border: none;
            color: #fff;
            &:hover{
                background-color: teal;
            }
        }
    }
}


.profile{
    display: flex;
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 30px;
        flex: 2;
        background-color: black;
        gap: 15px;
        height: 500px;

        .sidebarLink {
            color: #fff;
            width: 100%;
            font-size: 18px;
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 8;
        height: 500px;
        border-top: 1px solid #000;
        .userProfile{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            height: 350px;
            border-radius: 20px;
            box-shadow: 0 0 10px 0 #ccc;
            .userImage{
                position: relative;
                top: 50px;
                img{
                    height: 120px;
                    width: 120px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .user{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 60%;
                width: 300px;
                padding: 25px 20px;
                background-color: beige;
                gap: 12px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                .userdata{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
                .userBtn{
                    display: flex;
                    justify-content: center;
                    button {
                        cursor: pointer;
                        border-radius: 30px;
                        background-color: #000;
                        width: fit-content;
                        text-align: center;
                        padding: 8px 15px;
                        color: #fff;
                        border: none;

    
                        &:hover {
                            background-color: teal;
                        }
                    }
                }
            }
        }

    }
}